body {
  margin: 40px;
  padding: 50px;
}

a {
  color: #00b7ff;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  background: #f2f2f2;
  padding: 12px;
  margin-bottom: 8px;
  border-radius: 5px;
}
